.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

models/*.keras
models/*.h5

data/raw/*
!data/raw/aptos2019/
data/raw/aptos2019/*
!data/raw/aptos2019/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/splits/*.csv
outputs/

*.zip
kaggle.json
.DS_Store
